<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609445419221-rfa5o6fbp59k73it94f0g1lecjgqoekt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609445419221-rfa5o6fbp59k73it94f0g1lecjgqoekt</string>
	<key>API_KEY</key>
	<string>AIzaSyB84DAhKNNVMJ1mMku4tu1-aTdvLUvXenE</string>
	<key>GCM_SENDER_ID</key>
	<string>609445419221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aatech.vent</string>
	<key>PROJECT_ID</key>
	<string>cleanse-recipes</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanse-recipes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609445419221:ios:88c72fe9516ff214e1ea5c</string>
	<key>DATABASE_URL</key>
	<string>https://cleanse-recipes.firebaseio.com</string>
</dict>
</plist>